:root {
    font-family: Arial, Helvetica, sans-serif;
    color: white; background-color: black;
    display: flex; justify-content: center;
}
body {
    width: 50%;
}

h1 {
    text-align: center;
}
a {
    color: cornflowerblue;
}